/* Adjustments to the .App container */
.App {
  display: flex;
  flex-direction: row; /* Explicitly define the flex direction */
}

/* Styling for the main content area */
.main-content {
  margin-left: 200px; /* Equal to the width of the navbar */
  padding: 20px;
  flex-grow: 1; /* Allow the main content to grow and fill the space */
  flex-shrink: 1; /* Allow the main content to shrink if necessary */
}
